In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score

In [5]:
#import db
db=pd.read_csv("student-por.csv", delimiter=";")
print(db.shape)
db.head()

(649, 33)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

In [6]:
#G3 stÃ¼nununu 10 Ã¼zeri puanlarÄ± baÅŸarÄ±lÄ±(1), altÄ±nda kalan puanlarÄ± baÅŸarÄ±sÄ±z(0) olacak ÅŸekilde dÃ¼zenliyoruz
df=db.copy()
df['PASS']=df['G3'].map(lambda x:0 if x<10 else 1)
df.drop(['G3'],axis=1,inplace=True)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,PASS
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,1
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,1
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,1
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,1
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,1
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,1
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,0
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,1
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,1

In [7]:
#veri sayÄ±sallaÅŸtÄ±rma (https://medium.com/datarunner/veri-%C3%B6n-i%CC%87%C5%9Fleme-kategorik-verilerin-say%C4%B1salla%C5%9Ft%C4%B1r%C4%B1lmas%C4%B1-6ba7e78c1be1)
from sklearn.preprocessing import LabelEncoder
#binary
temp=df.iloc[:,0:1].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["school"]=temp
temp=df.iloc[:,1:2].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["sex"]=temp
temp=df.iloc[:,3:4].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["address"]=temp
temp=df.iloc[:,4:5].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["famsize"]=temp
temp=df.iloc[:,5:6].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["Pstatus"]=temp
temp=df.iloc[:,15:16].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["schoolsup"]=temp
temp=df.iloc[:,16:17].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["famsup"]=temp
temp=df.iloc[:,17:18].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["paid"]=temp
temp=df.iloc[:,18:19].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["activities"]=temp
temp=df.iloc[:,19:20].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["nursery"]=temp
temp=df.iloc[:,20:21].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["higher"]=temp
temp=df.iloc[:,21:22].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["internet"]=temp
temp=df.iloc[:,22:23].values
temp[:,0]=LabelEncoder().fit_transform(temp[:,0])
df["romantic"]=temp
#numeric

Mjob = pd.get_dummies(df["Mjob"])
Fjob = pd.get_dummies(df["Fjob"])
reason = pd.get_dummies(df["reason"])
guardian = pd.get_dummies(df["guardian"])
Mjob = Mjob.rename(columns={"teacher":"Mother_teacher","at_home": "Mother_at_home", "health" : "Mother_health", "services":"Mother_services","other":"Mother_other"})
Fjob = Fjob.rename(columns={"teacher":"Father_teacher","at_home": "Father_at_home", "health" : "Father_health", "services":"Fther_services","other":"Father_other"})
guardian = guardian.rename(columns={"other":"g_other"})
df=pd.concat([df,Mjob,Fjob,reason,guardian],join='inner',axis=1)
df.drop(["Mjob","Fjob","reason","guardian"],axis=1,inplace=True)
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Father_other,Fther_services,Father_teacher,course,home,other,reputation,father,mother,g_other
0,0,0,18,1,0,0,4,4,2,2,...,0,0,1,1,0,0,0,0,1,0
1,0,0,17,1,0,1,1,1,1,2,...,1,0,0,1,0,0,0,1,0,0
2,0,0,15,1,1,1,1,1,1,2,...,1,0,0,0,0,1,0,0,1,0
3,0,0,15,1,0,1,4,2,1,3,...,0,1,0,0,1,0,0,0,1,0
4,0,0,16,1,0,1,3,3,1,2,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,1,0,19,0,0,1,2,3,1,3,...,1,0,0,1,0,0,0,0,1,0
645,1,0,18,1,1,1,3,1,1,2,...,0,1,0,1,0,0,0,0,1,0
646,1,0,18,1,0,1,1,1,2,2,...,1,0,0,1,0,0,0,0,1,0
647,1,1,17,1,1,1,3,1,2,1,...,0,1,0,1,0,0,0,0,1,0
648,1,1,18,0,1,1,3,2,3,1,...,1,0,0,1,0,0,0,0,1,0

In [9]:
#import os
#df.to_csv("new_student_por.csv")

In [10]:
df.groupby("PASS")["PASS"].count()

PASS
0    100
1    549
Name: PASS, dtype: int64

In [11]:
#Ã¶zellik ve etiketlerin ayrÄ±lmasÄ±
x=df.drop("PASS",axis=1)
y=df["PASS"]

In [12]:
x.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'Mother_at_home', 'Mother_health', 'Mother_other', 'Mother_services',
       'Mother_teacher', 'Father_at_home', 'Father_health', 'Father_other',
       'Fther_services', 'Father_teacher', 'course', 'home', 'other',
       'reputation', 'father', 'mother', 'g_other'],
      dtype='object')

In [13]:
#SMOTE---https://towardsdatascience.com/applying-smote-for-class-imbalance-with-just-a-few-lines-of-code-python-cdf603e58688
from imblearn.over_sampling import SMOTE
smote = SMOTE()
X_res, y_res = smote.fit_resample(x, y)

In [14]:
X_res

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Father_other,Fther_services,Father_teacher,course,home,other,reputation,father,mother,g_other
0,0.0,0.0,18,1.0,0.0,0.0,4,4,2,2,...,0,0,1,1,0,0,0,0,1,0
1,0.0,0.0,17,1.0,0.0,1.0,1,1,1,2,...,1,0,0,1,0,0,0,1,0,0
2,0.0,0.0,15,1.0,1.0,1.0,1,1,1,2,...,1,0,0,0,0,1,0,0,1,0
3,0.0,0.0,15,1.0,0.0,1.0,4,2,1,3,...,0,1,0,0,1,0,0,0,1,0
4,0.0,0.0,16,1.0,0.0,1.0,3,3,1,2,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093,1.0,0.0,16,0.405104,0.405104,0.594896,1,2,1,1,...,1,0,0,0,0,0,0,0,1,0
1094,1.0,0.325552,18,0.0,0.0,1.0,3,3,2,1,...,0,0,0,0,0,0,0,0,0,0
1095,0.0,1.0,17,1.0,0.0,1.0,2,1,1,1,...,0,1,0,0,0,0,0,0,1,0
1096,1.0,0.0,16,0.227872,0.0,1.0,1,1,2,1,...,0,0,0,0,0,0,0,0,1,0
1097,0.010628,1.0,17,1.0,0.0,1.0,2,1,1,1,...,0,0,0,1,0,0,0,0,0,0

In [15]:
X_res = X_res.round(0).astype(int) #ondalÄ±klÄ± deÄŸerleri yuvarlama

In [16]:
X_res

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Father_other,Fther_services,Father_teacher,course,home,other,reputation,father,mother,g_other
0,0,0,18,1,0,0,4,4,2,2,...,0,0,1,1,0,0,0,0,1,0
1,0,0,17,1,0,1,1,1,1,2,...,1,0,0,1,0,0,0,1,0,0
2,0,0,15,1,1,1,1,1,1,2,...,1,0,0,0,0,1,0,0,1,0
3,0,0,15,1,0,1,4,2,1,3,...,0,1,0,0,1,0,0,0,1,0
4,0,0,16,1,0,1,3,3,1,2,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1093,1,0,16,0,0,0,1,2,1,1,...,1,0,0,0,0,0,0,0,1,0
1094,1,0,18,0,0,1,3,3,2,1,...,0,0,0,0,0,0,0,0,0,0
1095,0,1,17,1,0,1,2,1,1,1,...,0,1,0,0,0,0,0,0,1,0
1096,1,0,16,0,0,1,1,1,2,1,...,0,0,0,0,0,0,0,0,1,0
1097,0,1,17,1,0,1,2,1,1,1,...,0,0,0,1,0,0,0,0,0,0

In [17]:
y_res

0       1
1       1
2       1
3       1
4       1
       ..
1093    0
1094    0
1095    0
1096    0
1097    0
Name: PASS, Length: 1098, dtype: int64

In [18]:
#smote=pd.concat([X_res,y_res],join="inner",axis=1)
#smote.to_csv("smote_por.csv")

In [19]:
#SMOTE uygulanmadan Ã¶nce k=10 cross validation ile Decission Tree sonucu
c_dt = DecisionTreeClassifier(random_state=42)
print(cross_val_score(c_dt, x, y, cv=10))

[0.92307692 0.93846154 0.87692308 0.89230769 0.90769231 0.93846154
 0.92307692 0.81538462 0.92307692 0.859375  ]

In [21]:
#SMOTE uygulandÄ±ktan sonra k=10 cross validation ile Decission Tree sonucu
c_dt = DecisionTreeClassifier(random_state=42)
np.mean(cross_val_score(c_dt, X_res, y_res, cv=10))

0.9307256046705588

In [22]:
#SMOTE uygulanmadan Ã¶nce k=10 cross validation ile Random Forrest sonucu
c_rf = RandomForestClassifier(random_state=42)
np.mean(cross_val_score(c_rf, x, y, cv=10))

0.9167307692307693

In [24]:
#SMOTE uygulandÄ±ktan sonra k=10 cross validation ile Random Forrest sonucu
c_rf = RandomForestClassifier(random_state=42)
np.mean(cross_val_score(c_rf, X_res, y_res, cv=10))

0.9543703085904921

--------------SMOTE uygulanmadan Ã¶nce------------------

In [25]:
#Holdout yÃ¶ntemi %70 eÄŸitim %30 test SMOTE uygulanmamÄ±ÅŸ
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [26]:
#SMOTE uygulanmadan Ã¶nce .30 holdout ile Decission Tree sonucu
c_dt = DecisionTreeClassifier(random_state=42)
c_dt.fit(X_train,y_train)
results = c_dt.predict(X_test)
accuracy_score(y_test, results)

0.9333333333333333

In [27]:
#SMOTE uygulanmadan Ã¶nce .30 holdout ile Random Forrest sonucu
c_rf = RandomForestClassifier(random_state=42)
c_rf.fit(X_train,y_train)
results = c_rf.predict(X_test)
accuracy_score(y_test, results)

0.9333333333333333

In [28]:
c_SVC = SVC(kernel='linear', random_state = 0)
c_SVC.fit(X_train, y_train)
c_SVC.score(X_train, y_train)

0.9647577092511013

In [29]:
c_AB = AdaBoostClassifier()
c_AB.fit(X_train, y_train)
c_AB.score(X_train,y_train)

0.973568281938326

---------------SMOTE uygulandÄ±ktan sonra------------

In [32]:
#Holdout yÃ¶ntemi %70 eÄŸitim %30 test SMOTE uygulanmÄ±ÅŸ
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.30, random_state=42)

In [33]:
#SMOTE uygulandÄ±ktan sonra .30 holdout ile Decission Tree sonucu
c_dt = DecisionTreeClassifier(random_state=42)
c_dt.fit(X_train,y_train)
results = c_dt.predict(X_test)
accuracy_score(y_test, results)

0.9484848484848485

In [34]:
#SMOTE uygulandÄ±ktan sonra .30 holdout ile Random Forrest sonucu
c_rf = RandomForestClassifier(random_state=42)
c_rf.fit(X_train,y_train)
results = c_rf.predict(X_test)
accuracy_score(y_test, results)

0.9727272727272728

In [35]:
c_SVC = SVC(kernel='linear', random_state = 0)
c_SVC.fit(X_train, y_train)
c_SVC.score(X_train, y_train)

0.9635416666666666

In [36]:

c_AB = AdaBoostClassifier()
c_AB.fit(X_train, y_train)
c_AB.score(X_train,y_train)

0.9713541666666666